<p id="title">DnD Management System</p>

<div>
      <p>
        <mat-form-field appearance="standard" method="GET" action="http://localhost:4200/UserController/checkLogin">
          <p class="logboxtext">Password:</p>
          <input matInput placeholder="Placeholder" required id="passwordinput">
          <p class="logboxtext">Username:</p>
          <input matInput placeholder="Placeholder" required id="usernameinput">
          <input id="submitButton" type="submit" vale="Login" required/>
        </mat-form-field>
      </p>
      <p>
        <button method="POST" action="http://localhost:4200/UserController/index/createUser">Create New Account</button>
      </p>
</div>